$smallScreen: 640px;
$mediumScreen: 810px;
$largeScreen: 1024px;
$largeFont: 45px;
$mediumFont: 37px;
$smallFont: 23px;
$xsmallFont: 15px;
$xxsmallFont: 10px;
$bannerColor: #4b254d;
$bannerFontColor: #fddbf8;
$bannerFontHoverColor: #9ca3af;
$containerColor: rgba(248, 212, 244, 0.637);
$fuentePrincipal: "Fauna One", serif;
