@import "googlefonts";
@import "variables";
@import "mixins";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-image: url("../resources/background.jpg");
	background-size: cover;
	background-position: right 0px bottom;
	display: flex;
	flex-direction: column;
	.hidden {
		display: none;
	}
}

header {
	background-color: $bannerColor;
	height: fit-content;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1.25rem;
	@media (min-width: $mediumScreen) {
		@include distribucionFilas;
		padding: 0, 1.75rem;
	}
	.contenedorTitulo {
		display: flex;
		height: fit-content;
		@include distribucionFilas;

		h1 {
			@include fuenteTitulo;
			@media (min-width: $mediumScreen) {
				font-size: $mediumFont;
			}
			@media (min-width: $largeScreen) {
				font-size: $largeFont;
			}
			a {
				@include enlacesEncabezado;
				gap: 1rem;
			}
			#notaMusical {
				-webkit-text-stroke: #4b254d 2.5px;

				@media (min-width: $mediumScreen) {
					-webkit-text-stroke: #4b254d 4px;
				}
				@media (min-width: $largeScreen) {
					-webkit-text-stroke: #4b254d 5px;
				}
			}
		}

		.iconosMenuMobile {
			display: flex;
			align-items: center;
			gap: 1.5rem;
			#botonHamburguesa {
				@include botonMobileMenu;
			}
			#botonCruz {
				@include botonMobileMenu;
			}
		}
	}
	#lineaSeparacion {
		height: 2px;
		width: 100%;
		background-color: $bannerFontColor;
		@media (min-width: $mediumScreen) {
			display: none;
		}
	}
	#linksNavegacion {
		width: 100%;
		background-color: transparent;

		@media (min-width: $mediumScreen) {
			display: inline-block;
			width: fit-content;
		}
		#seleccionSecciones {
			@include fuenteSubtitulo;
			margin-right: 1rem;
			display: flex;
			flex-direction: column;
			align-items: start;
			gap: 0.4rem;
			@media (min-width: $mediumScreen) {
				@include distribucionFilas;
				gap: 4vw;
			}
		}
		ul {
			list-style-type: none;
			color: $bannerFontColor;
			font-size: $xsmallFont;

			@media (min-width: $largeScreen) {
				font-size: 17px;
			}

			a {
				@include enlacesEncabezado;
				@media (min-width: $mediumScreen) {
					padding: 7px;
				}
			}
		}
		i {
			width: 1.25rem;
		}
		.selected {
			@media (min-width: $mediumScreen) {
				border-radius: 7px;
				background-color: $bannerFontColor;
				color: $bannerColor;
				font-weight: 10px;
			}
		}
	}
}

.home {
	video {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: -1;
		height: 100%;
		width: auto;
		object-fit: cover;
		@media (min-width: 1280px) {
			width: 100%;
			height: 100vh;
		}
	}
	.areaDeRelleno {
		min-height: calc((100vh) - (96.11px));
		margin: 0;

		@media (min-width: $smallScreen) {
			min-height: calc((100vh) - (106px));
			margin-top: 10px;
		}
		@media (min-width: $mediumScreen) {
			min-height: calc((100vh) - (128px));
			margin-top: 10px;
		}
		@media (min-width: $largeScreen) {
			min-height: calc((100vh) - (138px));
			margin-top: 10px;
		}
	}
	.correccionHeight {
		height: calc((100vh) - (175.73px));
	}
}

.seccionBuscar {
	.encabezadoBuscar {
		background-color: rgba(0, 0, 0, 0.279);
		font-family: $fuentePrincipal;
		font-size: x-small;
		color: $bannerFontColor;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 5px;
		padding: 7px;

		@media (min-width: $smallScreen) {
			font-size: small;
		}
	}
	h2 {
		display: inline-block;
		margin-right: 20px;
	}
	.avisosEncontrados {
		min-height: calc((100vh) - (178px));
		margin: 0;
		@include minwidthAvisos;
		.hidden1 {
			display: none;
		}
	}
	.contenedorCards {
		margin: 0;
		border-radius: 0rem;
		border: solid 1px grey;
		background-color: $containerColor;
		padding: 10px 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 15px;
		@media (min-width: $smallScreen) {
			border-radius: 1.1rem;
			margin: 10px 40px 0;
			padding: 15px 40px;
			align-items: flex-start;
		}
	}
	.displayDetalleCard {
		background-color: $containerColor;
		border-radius: 1.1rem;
		margin: auto;
		border-radius: 0rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		padding: 10px;
		gap: 12px;
		.hidden2 {
			display: none;
		}
		@media (min-width: $smallScreen) {
			border-radius: 1.1rem;
			margin: 10px 40px 0;
			padding: 15px 40px;
		}
		@media (min-width: $largeScreen) {
			flex-direction: row;
		}
	}
	.detalleCard {
		font-family: $fuentePrincipal;
		font-size: small;
		width: auto;
		max-width: 682px;
		border-radius: 1rem;
		padding: 24px 20px;
		display: flex;
		flex-direction: column;
		gap: 15px;
		h3 {
			font-size: $xsmallFont;
			@media (min-width: $mediumScreen) {
				font-size: large;
			}
		}
		.salirDeTarjeta {
			padding: 6px 2px;
			margin-bottom: 5px;
			&:hover {
				width: fit-content;
				border-radius: 8px;
				background-color: $bannerColor;
				color: white;
				cursor: pointer;
			}
		}
		.contenedorImagen {
			.imagen {
				width: 100px;
				height: 100px;
				margin-left: 10px;
				float: right;
				background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0GtVh-swPhy4aO4t60sOFnpg0yhGRcCFTqhnmnwKFKQ&s");
				background-size: cover;
			}
			p {
				text-align: justify;
			}
			@media (min-width: $smallScreen) {
				flex-direction: row; //agregar maxwidth de 100% cuando se rendericen 2 divs
			}
		}

		.aceptar {
			@include estiloAceptar;
			width: 100px;
			@media (min-width: $smallScreen) {
				width: 140px;
			}
		}
		.cancelar {
			@include estiloCancelar;
			width: 100px;
			@media (min-width: $smallScreen) {
				width: 140px;
			}
		}

		.contenedorEtiquetas {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			gap: 5px;
		}
		span {
			@include spanes;
		}
		background-color: #fedbfe;
		@media (min-width: $smallScreen) {
			width: 100%;
		}
	}
	.edicionCard {
		font-family: $fuentePrincipal;
		font-size: small;
		max-width: 682px;
		width: 100%;
		padding: 3vh 3vw;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		gap: 5px;
		border-radius: 1rem;
		background-color: #fedbfe;
		label {
			font-size: small;
			@media (min-width: $mediumScreen) {
				font-size: medium;
			}
		}
		textarea {
			width: auto;
			border-radius: 7px;
			border: 1px solid grey;
			padding: 8px;
			@extend label;
			&:focus::-webkit-input-placeholder {
				opacity: 0;
			}
		}
		input {
			width: auto;
			border-radius: 7px;
			border: 1px solid grey;
			height: 20px;
			padding: 10px;
			@extend label;
			&:focus::-webkit-input-placeholder {
				opacity: 0;
			}
		}
		.aceptar {
			@include estiloAceptar;
			width: 100px;
			@media (min-width: $smallScreen) {
				width: 140px;
			}
		}
		.cancelar {
			@include estiloCancelar;
			width: 100px;
			@media (min-width: $smallScreen) {
				width: 140px;
			}
		}
	}
	.tarjetaEncontrada {
		@extend .detalleCard;
		height: 400px;
		max-width: 300px;
		justify-content: space-between;
		.contenedorImagenSmall {
			@extend .contenedorImagen;
			height: 190px;
			overflow: hidden;
			p {
				max-width: 300px;
				text-overflow: ellipsis;
			}
		}
	}

	.filtrosBusqueda {
		height: auto;
		display: flex;
		flex-wrap: wrap;
		gap: 5px;
		justify-content: center;
		select {
			@include estiloSelect;
		}
	}
	.botonesBusqueda {
		.aceptar {
			@include estiloAceptar;
		}
		.cancelar {
			@include estiloCancelar;
		}
	}
}

.seccionPublicar {
	@extend .seccionBuscar;
	min-height: calc(100vh - (95.6px));
	@media (min-width: $mediumScreen) {
		min-height: calc(100vh - (117.6px));
	}
	@media (min-width: $largeScreen) {
		min-height: calc(100vh - (128px));
	}
	.displayDetalleCardPublic {
		background-color: $containerColor;
		border-radius: 1.1rem;
		margin: auto;
		border-radius: 0rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		padding: 10px;
		gap: 12px;
		@media (min-width: $smallScreen) {
			border-radius: 1.1rem;
			margin: 10px 40px 0;
			padding: 15px 40px;
		}
		@media (min-width: $largeScreen) {
			flex-direction: row;
		}
	}
	.tarjetaPublicacion {
		@extend .edicionCard;
		@media (min-width: $largeScreen) {
			max-width: 60%;
		}
	}
}

.modalMensaje {
	@include estiloModal;
	font-family: $fuentePrincipal;
	font-size: small;
	.mensajePopup {
		width: 300px;
		padding: 20px;
		margin: 0 2px;
		border-radius: 8px;
		border: solid gray 1px;
		background-color: #fedbfe;
		display: flex;
		flex-direction: column;
		gap: 10px;
		justify-content: center;
		align-items: center;
		.botonesPopup {
			display: flex;
			flex-direction: row;
			gap: 6px;
			justify-content: space-around;
			.aceptar {
				@include estiloAceptar;
			}
			.cancelar {
				@include estiloCancelar;
			}
		}
	}
}
.modalSpinner {
	@include estiloModal;
	.fondoSpinner {
		img {
			height: 120px;
			width: 120px;
		}
	}
}
footer {
	@include fuenteSubtitulo;
	font-size: $xxsmallFont;
	color: white;
	a {
		@include enlacesEncabezado;
		display: inline;
	}
	div {
		padding: 0.4rem 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	@media (min-width: $mediumScreen) {
		font-size: $xsmallFont;
	}
}
