@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monofett&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fauna+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../resources/background.jpg");
  background-size: cover;
  background-position: right 0px bottom;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #4b254d;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.25rem;
}
@media (min-width: 810px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0, 1.75rem;
  }
}
header .contenedorTitulo {
  display: flex;
  height: fit-content;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .contenedorTitulo h1 {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
  color: #fddbf8;
  font-size: 23px;
}
@media (min-width: 810px) {
  header .contenedorTitulo h1 {
    font-size: 37px;
  }
}
@media (min-width: 1024px) {
  header .contenedorTitulo h1 {
    font-size: 45px;
  }
}
header .contenedorTitulo h1 a {
  color: #fddbf8;
  text-decoration: none;
  display: flex;
  gap: 0.3rem;
  align-items: center;
  gap: 1rem;
}
header .contenedorTitulo h1 a:hover {
  color: #9ca3af;
  cursor: pointer;
}
header .contenedorTitulo h1 #notaMusical {
  -webkit-text-stroke: #4b254d 2.5px;
}
@media (min-width: 810px) {
  header .contenedorTitulo h1 #notaMusical {
    -webkit-text-stroke: #4b254d 4px;
  }
}
@media (min-width: 1024px) {
  header .contenedorTitulo h1 #notaMusical {
    -webkit-text-stroke: #4b254d 5px;
  }
}
header .contenedorTitulo div {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
header .contenedorTitulo div #botonHamburguesa {
  font-size: 1.875rem;
  cursor: pointer;
}
@media (min-width: 810px) {
  header .contenedorTitulo div #botonHamburguesa {
    display: none;
  }
  header .contenedorTitulo div #botonHamburguesa:hover {
    color: #9ca3af;
  }
}
header .contenedorTitulo div #botonCruz {
  font-size: 1.875rem;
  cursor: pointer;
  display: none;
}
@media (min-width: 810px) {
  header .contenedorTitulo div #botonCruz {
    display: none;
  }
  header .contenedorTitulo div #botonCruz:hover {
    color: #9ca3af;
  }
}
header #lineaSeparacion {
  height: 2px;
  width: 100%;
  background-color: #fddbf8;
  display: none;
}
@media (min-width: 810px) {
  header #lineaSeparacion {
    display: none;
  }
}
header nav {
  width: 100%;
  display: none;
  background-color: transparent;
}
@media (min-width: 810px) {
  header nav {
    display: inline-block;
    width: fit-content;
  }
}
header nav #seleccionSecciones {
  font-family: "Fauna One", serif;
  font-weight: 400;
  font-style: normal;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}
@media (min-width: 810px) {
  header nav #seleccionSecciones {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4vw;
  }
}
header nav ul {
  list-style-type: none;
  color: #fddbf8;
  font-size: 23px;
}
@media (min-width: 810px) {
  header nav ul {
    font-size: 17px;
  }
}
header nav ul a {
  color: #fddbf8;
  text-decoration: none;
  display: flex;
  gap: 0.3rem;
  align-items: center;
}
header nav ul a:hover {
  color: #9ca3af;
  cursor: pointer;
}
header nav i {
  width: 1.25rem;
}

.home video {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: auto;
  object-fit: cover;
}
@media (min-width: 1280px) {
  .home video {
    width: 100%;
    height: 100vh;
  }
}
.home .areaDeRelleno {
  min-height: calc(100vh - 96.4px);
  margin: 0;
}
@media (min-width: 640px) {
  .home .areaDeRelleno {
    min-height: calc(100vh - 106px);
    margin-top: 10px;
  }
}
@media (min-width: 810px) {
  .home .areaDeRelleno {
    min-height: calc(100vh - 128px);
    margin-top: 10px;
  }
}
@media (min-width: 1024px) {
  .home .areaDeRelleno {
    min-height: calc(100vh - 138px);
    margin-top: 10px;
  }
}

.seccionBuscar .encabezadoBuscar, .seccionPublicacion .encabezadoBuscar {
  background-color: rgba(0, 0, 0, 0.279);
  font-family: "Fauna One", serif;
  font-size: x-small;
  color: #fddbf8;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 7px;
}
@media (min-width: 640px) {
  .seccionBuscar .encabezadoBuscar, .seccionPublicacion .encabezadoBuscar {
    font-size: small;
  }
}
.seccionBuscar h2, .seccionPublicacion h2 {
  display: inline-block;
  margin-right: 20px;
}
.seccionBuscar .avisosEncontrados, .seccionPublicacion .avisosEncontrados {
  min-height: calc(100vh - 178px);
  margin: 0;
}
@media (min-width: 439px) {
  .seccionBuscar .avisosEncontrados, .seccionPublicacion .avisosEncontrados {
    min-height: calc(100vh - 164px);
    margin-top: 10px;
  }
}
@media (min-width: 541px) {
  .seccionBuscar .avisosEncontrados, .seccionPublicacion .avisosEncontrados {
    min-height: calc(100vh - 164px);
    margin-top: 10px;
  }
}
@media (min-width: 636px) {
  .seccionBuscar .avisosEncontrados, .seccionPublicacion .avisosEncontrados {
    min-height: calc(100vh - 165px);
    margin-top: 10px;
  }
}
@media (min-width: 639px) {
  .seccionBuscar .avisosEncontrados, .seccionPublicacion .avisosEncontrados {
    min-height: calc(100vh - 164px);
    margin-top: 10px;
  }
}
@media (min-width: 640px) {
  .seccionBuscar .avisosEncontrados, .seccionPublicacion .avisosEncontrados {
    min-height: calc(100vh - 170px);
    margin-top: 10px;
  }
}
@media (min-width: 792px) {
  .seccionBuscar .avisosEncontrados, .seccionPublicacion .avisosEncontrados {
    min-height: calc(100vh - 170px);
    margin-top: 10px;
  }
}
@media (min-width: 804px) {
  .seccionBuscar .avisosEncontrados, .seccionPublicacion .avisosEncontrados {
    min-height: calc(100vh - 146px);
    margin-top: 10px;
  }
}
@media (min-width: 810px) {
  .seccionBuscar .avisosEncontrados, .seccionPublicacion .avisosEncontrados {
    min-height: calc(100vh - 194px);
    margin-top: 10px;
  }
}
@media (min-width: 837px) {
  .seccionBuscar .avisosEncontrados, .seccionPublicacion .avisosEncontrados {
    min-height: calc(100vh - 167px);
    margin-top: 10px;
  }
}
@media (min-width: 1024px) {
  .seccionBuscar .avisosEncontrados, .seccionPublicacion .avisosEncontrados {
    min-height: calc(100vh - 178px);
    margin-top: 10px;
  }
}
.seccionBuscar .avisosEncontrados .contenedorCards, .seccionPublicacion .avisosEncontrados .contenedorCards {
  margin: 0;
  border-radius: 0rem;
  border: solid 1px grey;
  background-color: rgba(255, 255, 255, 0.759);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 15px;
}
@media (min-width: 640px) {
  .seccionBuscar .avisosEncontrados .contenedorCards, .seccionPublicacion .avisosEncontrados .contenedorCards {
    border-radius: 1.1rem;
    margin: 10px 40px 0;
    padding: 15px 40px;
  }
}
.seccionBuscar .displayDetalleCard, .seccionPublicacion .displayDetalleCard {
  background-color: rgba(243, 204, 217, 0.903);
  border-radius: 1.1rem;
  margin: auto;
  border-radius: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 10px;
  gap: 12px;
}
@media (min-width: 640px) {
  .seccionBuscar .displayDetalleCard, .seccionPublicacion .displayDetalleCard {
    border-radius: 1.1rem;
    margin: 10px 40px 0;
    padding: 15px 40px;
  }
}
@media (min-width: 1024px) {
  .seccionBuscar .displayDetalleCard, .seccionPublicacion .displayDetalleCard {
    flex-direction: row;
  }
}
.seccionBuscar .detalleCard, .seccionPublicacion .detalleCard, .seccionBuscar .tarjetaEncontrada, .seccionPublicacion .tarjetaEncontrada {
  font-family: "Fauna One", serif;
  font-size: small;
  width: auto;
  max-width: 682px;
  border-radius: 1rem;
  padding: 3vh 3vw;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #fedbfe;
}
.seccionBuscar .detalleCard .salirDeTarjeta, .seccionPublicacion .detalleCard .salirDeTarjeta, .seccionBuscar .tarjetaEncontrada .salirDeTarjeta, .seccionPublicacion .tarjetaEncontrada .salirDeTarjeta {
  padding: 6px 2px;
}
.seccionBuscar .detalleCard .salirDeTarjeta:hover, .seccionPublicacion .detalleCard .salirDeTarjeta:hover, .seccionBuscar .tarjetaEncontrada .salirDeTarjeta:hover, .seccionPublicacion .tarjetaEncontrada .salirDeTarjeta:hover {
  width: fit-content;
  border-radius: 8px;
  background-color: #4b254d;
  color: white;
  cursor: pointer;
}
.seccionBuscar .detalleCard .contenedorImagen .imagen, .seccionPublicacion .detalleCard .contenedorImagen .imagen, .seccionBuscar .tarjetaEncontrada .contenedorImagen .imagen, .seccionPublicacion .tarjetaEncontrada .contenedorImagen .imagen, .seccionBuscar .tarjetaEncontrada .contenedorImagenSmall .imagen, .seccionPublicacion .tarjetaEncontrada .contenedorImagenSmall .imagen {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  float: right;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0GtVh-swPhy4aO4t60sOFnpg0yhGRcCFTqhnmnwKFKQ&s");
  background-size: cover;
}
.seccionBuscar .detalleCard .contenedorImagen p, .seccionPublicacion .detalleCard .contenedorImagen p, .seccionBuscar .tarjetaEncontrada .contenedorImagen p, .seccionPublicacion .tarjetaEncontrada .contenedorImagen p, .seccionBuscar .tarjetaEncontrada .contenedorImagenSmall p, .seccionPublicacion .tarjetaEncontrada .contenedorImagenSmall p {
  text-align: justify;
}
@media (min-width: 640px) {
  .seccionBuscar .detalleCard .contenedorImagen, .seccionPublicacion .detalleCard .contenedorImagen, .seccionBuscar .tarjetaEncontrada .contenedorImagen, .seccionPublicacion .tarjetaEncontrada .contenedorImagen, .seccionBuscar .tarjetaEncontrada .contenedorImagenSmall, .seccionPublicacion .tarjetaEncontrada .contenedorImagenSmall {
    flex-direction: row;
  }
}
.seccionBuscar .detalleCard .aceptar, .seccionPublicacion .detalleCard .aceptar, .seccionBuscar .tarjetaEncontrada .aceptar, .seccionPublicacion .tarjetaEncontrada .aceptar {
  padding: 2px;
  font-family: "Fauna One", serif;
  font-size: 0.6rem;
  color: #4b254d;
  border-radius: 5px;
  border: solid 1px grey;
  background-color: rgba(255, 255, 255, 0.759);
  padding: 3px 7px;
  width: 60px;
  background-color: #a079a1;
  color: white;
}
@media (min-width: 640px) {
  .seccionBuscar .detalleCard .aceptar, .seccionPublicacion .detalleCard .aceptar, .seccionBuscar .tarjetaEncontrada .aceptar, .seccionPublicacion .tarjetaEncontrada .aceptar {
    font-size: 0.7rem;
  }
}
@media (min-width: 810px) {
  .seccionBuscar .detalleCard .aceptar, .seccionPublicacion .detalleCard .aceptar, .seccionBuscar .tarjetaEncontrada .aceptar, .seccionPublicacion .tarjetaEncontrada .aceptar {
    font-size: 0.8rem;
  }
}
@media (min-width: 640px) {
  .seccionBuscar .detalleCard .aceptar, .seccionPublicacion .detalleCard .aceptar, .seccionBuscar .tarjetaEncontrada .aceptar, .seccionPublicacion .tarjetaEncontrada .aceptar {
    width: 80px;
  }
}
.seccionBuscar .detalleCard .aceptar:hover, .seccionPublicacion .detalleCard .aceptar:hover, .seccionBuscar .tarjetaEncontrada .aceptar:hover, .seccionPublicacion .tarjetaEncontrada .aceptar:hover {
  cursor: pointer;
  background-color: #4b254d;
}
.seccionBuscar .detalleCard .cancelar, .seccionPublicacion .detalleCard .cancelar, .seccionBuscar .tarjetaEncontrada .cancelar, .seccionPublicacion .tarjetaEncontrada .cancelar {
  padding: 2px;
  font-family: "Fauna One", serif;
  font-size: 0.6rem;
  color: #4b254d;
  border-radius: 5px;
  border: solid 1px grey;
  background-color: rgba(255, 255, 255, 0.759);
  padding: 3px 7px;
  width: 60px;
  background-color: #a079a1;
  color: white;
  background-color: #e8d5ea;
  color: rgb(67, 67, 67);
}
@media (min-width: 640px) {
  .seccionBuscar .detalleCard .cancelar, .seccionPublicacion .detalleCard .cancelar, .seccionBuscar .tarjetaEncontrada .cancelar, .seccionPublicacion .tarjetaEncontrada .cancelar {
    font-size: 0.7rem;
  }
}
@media (min-width: 810px) {
  .seccionBuscar .detalleCard .cancelar, .seccionPublicacion .detalleCard .cancelar, .seccionBuscar .tarjetaEncontrada .cancelar, .seccionPublicacion .tarjetaEncontrada .cancelar {
    font-size: 0.8rem;
  }
}
@media (min-width: 640px) {
  .seccionBuscar .detalleCard .cancelar, .seccionPublicacion .detalleCard .cancelar, .seccionBuscar .tarjetaEncontrada .cancelar, .seccionPublicacion .tarjetaEncontrada .cancelar {
    width: 80px;
  }
}
.seccionBuscar .detalleCard .cancelar:hover, .seccionPublicacion .detalleCard .cancelar:hover, .seccionBuscar .tarjetaEncontrada .cancelar:hover, .seccionPublicacion .tarjetaEncontrada .cancelar:hover {
  cursor: pointer;
  background-color: #4b254d;
}
.seccionBuscar .detalleCard .cancelar:hover, .seccionPublicacion .detalleCard .cancelar:hover, .seccionBuscar .tarjetaEncontrada .cancelar:hover, .seccionPublicacion .tarjetaEncontrada .cancelar:hover {
  color: white;
}
.seccionBuscar .detalleCard .contenedorEtiquetas, .seccionPublicacion .detalleCard .contenedorEtiquetas, .seccionBuscar .tarjetaEncontrada .contenedorEtiquetas, .seccionPublicacion .tarjetaEncontrada .contenedorEtiquetas {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5px;
}
.seccionBuscar .detalleCard span, .seccionPublicacion .detalleCard span, .seccionBuscar .tarjetaEncontrada span, .seccionPublicacion .tarjetaEncontrada span {
  padding: 1px 7px;
  background-color: #a7dff7;
  border: solid rgb(198, 177, 177) 1px;
  border-radius: 5px;
  font-size: 10px;
}
@media (min-width: 640px) {
  .seccionBuscar .detalleCard, .seccionPublicacion .detalleCard, .seccionBuscar .tarjetaEncontrada, .seccionPublicacion .tarjetaEncontrada {
    width: 100%;
  }
}
.seccionBuscar .edicionCard, .seccionPublicacion .edicionCard, .seccionPublicacion .tarjetaPublicacion {
  font-family: "Fauna One", serif;
  font-size: small;
  max-width: 682px;
  width: 100%;
  padding: 3vh 3vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 5px;
  border-radius: 1rem;
  background-color: #fedbfe;
}
.seccionBuscar .edicionCard textarea, .seccionPublicacion .edicionCard textarea, .seccionPublicacion .tarjetaPublicacion textarea {
  width: auto;
  border-radius: 7px;
  padding: 8px;
}
.seccionBuscar .edicionCard textarea:focus::-webkit-input-placeholder, .seccionPublicacion .edicionCard textarea:focus::-webkit-input-placeholder, .seccionPublicacion .tarjetaPublicacion textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}
.seccionBuscar .edicionCard input, .seccionPublicacion .edicionCard input, .seccionPublicacion .tarjetaPublicacion input {
  width: auto;
  border-radius: 7px;
  height: 20px;
  padding: 8px;
}
.seccionBuscar .edicionCard input:focus::-webkit-input-placeholder, .seccionPublicacion .edicionCard input:focus::-webkit-input-placeholder, .seccionPublicacion .tarjetaPublicacion input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.seccionBuscar .edicionCard .aceptar, .seccionPublicacion .edicionCard .aceptar, .seccionPublicacion .tarjetaPublicacion .aceptar {
  padding: 2px;
  font-family: "Fauna One", serif;
  font-size: 0.6rem;
  color: #4b254d;
  border-radius: 5px;
  border: solid 1px grey;
  background-color: rgba(255, 255, 255, 0.759);
  padding: 3px 7px;
  width: 60px;
  background-color: #a079a1;
  color: white;
  width: 100px;
}
@media (min-width: 640px) {
  .seccionBuscar .edicionCard .aceptar, .seccionPublicacion .edicionCard .aceptar, .seccionPublicacion .tarjetaPublicacion .aceptar {
    font-size: 0.7rem;
  }
}
@media (min-width: 810px) {
  .seccionBuscar .edicionCard .aceptar, .seccionPublicacion .edicionCard .aceptar, .seccionPublicacion .tarjetaPublicacion .aceptar {
    font-size: 0.8rem;
  }
}
@media (min-width: 640px) {
  .seccionBuscar .edicionCard .aceptar, .seccionPublicacion .edicionCard .aceptar, .seccionPublicacion .tarjetaPublicacion .aceptar {
    width: 80px;
  }
}
.seccionBuscar .edicionCard .aceptar:hover, .seccionPublicacion .edicionCard .aceptar:hover, .seccionPublicacion .tarjetaPublicacion .aceptar:hover {
  cursor: pointer;
  background-color: #4b254d;
}
@media (min-width: 640px) {
  .seccionBuscar .edicionCard .aceptar, .seccionPublicacion .edicionCard .aceptar, .seccionPublicacion .tarjetaPublicacion .aceptar {
    width: 130px;
  }
}
.seccionBuscar .edicionCard .cancelar, .seccionPublicacion .edicionCard .cancelar, .seccionPublicacion .tarjetaPublicacion .cancelar {
  padding: 2px;
  font-family: "Fauna One", serif;
  font-size: 0.6rem;
  color: #4b254d;
  border-radius: 5px;
  border: solid 1px grey;
  background-color: rgba(255, 255, 255, 0.759);
  padding: 3px 7px;
  width: 60px;
  background-color: #a079a1;
  color: white;
  background-color: #e8d5ea;
  color: rgb(67, 67, 67);
  width: 100px;
}
@media (min-width: 640px) {
  .seccionBuscar .edicionCard .cancelar, .seccionPublicacion .edicionCard .cancelar, .seccionPublicacion .tarjetaPublicacion .cancelar {
    font-size: 0.7rem;
  }
}
@media (min-width: 810px) {
  .seccionBuscar .edicionCard .cancelar, .seccionPublicacion .edicionCard .cancelar, .seccionPublicacion .tarjetaPublicacion .cancelar {
    font-size: 0.8rem;
  }
}
@media (min-width: 640px) {
  .seccionBuscar .edicionCard .cancelar, .seccionPublicacion .edicionCard .cancelar, .seccionPublicacion .tarjetaPublicacion .cancelar {
    width: 80px;
  }
}
.seccionBuscar .edicionCard .cancelar:hover, .seccionPublicacion .edicionCard .cancelar:hover, .seccionPublicacion .tarjetaPublicacion .cancelar:hover {
  cursor: pointer;
  background-color: #4b254d;
}
.seccionBuscar .edicionCard .cancelar:hover, .seccionPublicacion .edicionCard .cancelar:hover, .seccionPublicacion .tarjetaPublicacion .cancelar:hover {
  color: white;
}
@media (min-width: 640px) {
  .seccionBuscar .edicionCard .cancelar, .seccionPublicacion .edicionCard .cancelar, .seccionPublicacion .tarjetaPublicacion .cancelar {
    width: 130px;
  }
}
.seccionBuscar .tarjetaEncontrada, .seccionPublicacion .tarjetaEncontrada {
  height: 390px;
  max-width: 300px;
  justify-content: space-between;
}
.seccionBuscar .tarjetaEncontrada .contenedorImagenSmall, .seccionPublicacion .tarjetaEncontrada .contenedorImagenSmall {
  height: 210px;
  overflow: hidden;
}
.seccionBuscar .tarjetaEncontrada .contenedorImagenSmall p, .seccionPublicacion .tarjetaEncontrada .contenedorImagenSmall p {
  max-width: 300px;
  height: 210px;
  text-overflow: ellipsis;
}
.seccionBuscar .filtrosBusqueda, .seccionPublicacion .filtrosBusqueda {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}
.seccionBuscar .filtrosBusqueda select, .seccionPublicacion .filtrosBusqueda select {
  padding: 2px;
  font-family: "Fauna One", serif;
  font-size: 0.6rem;
  color: #4b254d;
  border-radius: 5px;
  border: solid 1px grey;
  background-color: rgba(255, 255, 255, 0.759);
}
@media (min-width: 640px) {
  .seccionBuscar .filtrosBusqueda select, .seccionPublicacion .filtrosBusqueda select {
    font-size: 0.7rem;
  }
}
@media (min-width: 810px) {
  .seccionBuscar .filtrosBusqueda select, .seccionPublicacion .filtrosBusqueda select {
    font-size: 0.8rem;
  }
}
.seccionBuscar .botonesBusqueda .aceptar, .seccionPublicacion .botonesBusqueda .aceptar {
  padding: 2px;
  font-family: "Fauna One", serif;
  font-size: 0.6rem;
  color: #4b254d;
  border-radius: 5px;
  border: solid 1px grey;
  background-color: rgba(255, 255, 255, 0.759);
  padding: 3px 7px;
  width: 60px;
  background-color: #a079a1;
  color: white;
}
@media (min-width: 640px) {
  .seccionBuscar .botonesBusqueda .aceptar, .seccionPublicacion .botonesBusqueda .aceptar {
    font-size: 0.7rem;
  }
}
@media (min-width: 810px) {
  .seccionBuscar .botonesBusqueda .aceptar, .seccionPublicacion .botonesBusqueda .aceptar {
    font-size: 0.8rem;
  }
}
@media (min-width: 640px) {
  .seccionBuscar .botonesBusqueda .aceptar, .seccionPublicacion .botonesBusqueda .aceptar {
    width: 80px;
  }
}
.seccionBuscar .botonesBusqueda .aceptar:hover, .seccionPublicacion .botonesBusqueda .aceptar:hover {
  cursor: pointer;
  background-color: #4b254d;
}
.seccionBuscar .botonesBusqueda .cancelar, .seccionPublicacion .botonesBusqueda .cancelar {
  padding: 2px;
  font-family: "Fauna One", serif;
  font-size: 0.6rem;
  color: #4b254d;
  border-radius: 5px;
  border: solid 1px grey;
  background-color: rgba(255, 255, 255, 0.759);
  padding: 3px 7px;
  width: 60px;
  background-color: #a079a1;
  color: white;
  background-color: #e8d5ea;
  color: rgb(67, 67, 67);
}
@media (min-width: 640px) {
  .seccionBuscar .botonesBusqueda .cancelar, .seccionPublicacion .botonesBusqueda .cancelar {
    font-size: 0.7rem;
  }
}
@media (min-width: 810px) {
  .seccionBuscar .botonesBusqueda .cancelar, .seccionPublicacion .botonesBusqueda .cancelar {
    font-size: 0.8rem;
  }
}
@media (min-width: 640px) {
  .seccionBuscar .botonesBusqueda .cancelar, .seccionPublicacion .botonesBusqueda .cancelar {
    width: 80px;
  }
}
.seccionBuscar .botonesBusqueda .cancelar:hover, .seccionPublicacion .botonesBusqueda .cancelar:hover {
  cursor: pointer;
  background-color: #4b254d;
}
.seccionBuscar .botonesBusqueda .cancelar:hover, .seccionPublicacion .botonesBusqueda .cancelar:hover {
  color: white;
}

.seccionPublicacion {
  min-height: calc(100vh - 95.6px);
}
@media (min-width: 810px) {
  .seccionPublicacion {
    min-height: calc(100vh - 117.6px);
  }
}
@media (min-width: 1024px) {
  .seccionPublicacion {
    min-height: calc(100vh - 128px);
  }
}
@media (min-width: 1024px) {
  .seccionPublicacion .tarjetaPublicacion {
    max-width: 60%;
  }
}

.modalMensaje {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(243, 204, 217, 0.903);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  width: 100%;
  height: 100%;
  font-family: "Fauna One", serif;
  font-size: small;
}
.modalMensaje .mensajePopup {
  width: 300px;
  padding: 20px;
  margin: 0 2px;
  border-radius: 8px;
  border: solid gray 1px;
  background-color: #fedbfe;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.modalMensaje .mensajePopup .botonesPopup {
  display: flex;
  flex-direction: row;
  gap: 6px;
  justify-content: space-around;
}
.modalMensaje .mensajePopup .botonesPopup .aceptar {
  padding: 2px;
  font-family: "Fauna One", serif;
  font-size: 0.6rem;
  color: #4b254d;
  border-radius: 5px;
  border: solid 1px grey;
  background-color: rgba(255, 255, 255, 0.759);
  padding: 3px 7px;
  width: 60px;
  background-color: #a079a1;
  color: white;
}
@media (min-width: 640px) {
  .modalMensaje .mensajePopup .botonesPopup .aceptar {
    font-size: 0.7rem;
  }
}
@media (min-width: 810px) {
  .modalMensaje .mensajePopup .botonesPopup .aceptar {
    font-size: 0.8rem;
  }
}
@media (min-width: 640px) {
  .modalMensaje .mensajePopup .botonesPopup .aceptar {
    width: 80px;
  }
}
.modalMensaje .mensajePopup .botonesPopup .aceptar:hover {
  cursor: pointer;
  background-color: #4b254d;
}
.modalMensaje .mensajePopup .botonesPopup .cancelar {
  padding: 2px;
  font-family: "Fauna One", serif;
  font-size: 0.6rem;
  color: #4b254d;
  border-radius: 5px;
  border: solid 1px grey;
  background-color: rgba(255, 255, 255, 0.759);
  padding: 3px 7px;
  width: 60px;
  background-color: #a079a1;
  color: white;
  background-color: #e8d5ea;
  color: rgb(67, 67, 67);
}
@media (min-width: 640px) {
  .modalMensaje .mensajePopup .botonesPopup .cancelar {
    font-size: 0.7rem;
  }
}
@media (min-width: 810px) {
  .modalMensaje .mensajePopup .botonesPopup .cancelar {
    font-size: 0.8rem;
  }
}
@media (min-width: 640px) {
  .modalMensaje .mensajePopup .botonesPopup .cancelar {
    width: 80px;
  }
}
.modalMensaje .mensajePopup .botonesPopup .cancelar:hover {
  cursor: pointer;
  background-color: #4b254d;
}
.modalMensaje .mensajePopup .botonesPopup .cancelar:hover {
  color: white;
}

.modalSpinner {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(243, 204, 217, 0.903);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  width: 100%;
  height: 100%;
}
.modalSpinner .fondoSpinner img {
  height: 120px;
  width: 120px;
}

footer {
  font-family: "Fauna One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  color: white;
}
footer a {
  color: #fddbf8;
  text-decoration: none;
  display: flex;
  gap: 0.3rem;
  align-items: center;
  display: inline;
}
footer a:hover {
  color: #9ca3af;
  cursor: pointer;
}
footer div {
  padding: 0.4rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (min-width: 810px) {
  footer {
    font-size: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
